<script lang="ts">
	import Image from '../components/Image.svelte';

	type Data = {
		imageUrl: string;
		type: 'square' | 'rectangular';
		title: string;
	};

	const data: Data[] = [
		{
			imageUrl:
				'https://images.unsplash.com/photo-1682687982183-c2937a74257c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80',
			title: 'Sunset',
			type: 'square'
		},
		{
			imageUrl:
				'https://images.unsplash.com/photo-1476231682828-37e571bc172f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
			title: 'Forest',
			type: 'rectangular'
		}
	];
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section class="h-screen w-screen grid place-items-center">
	<div class="flex gap-4 bg-gray-200 p-2">
		{#each data as { imageUrl, title, type }}
			<Image {imageUrl} {title} {type} />
		{/each}
	</div>
</section>
